.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  text-align: left;
  font-size: 0.75rem;
  color: var(--sap-text-light);
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--sap-border);
}

.table tbody td {
  padding: 0.75rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #f0f0f0;
}

.table tbody tr:hover {
  background-color: #f5f7fa;
  cursor: pointer;
}

.table tbody tr.selected {
  background-color: #e5f0fa;
}

