.overview {
  animation: fadeIn 0.3s ease-in-out;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.bottomGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

